body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin:20vh auto 0 auto;
    padding: 20px;
    width: 300px;
}
h1{
    text-align: center;
    color: rgb(99, 161, 37);
}
#form button{
    background-color:rgb(99, 161, 37);
    color: white;
    border: 1px solid rgb(99, 161, 37);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width:100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(99, 161, 37);
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: green;
}
.input-group.error input{
    border-color: red;
}
/*css for to do list*/
.containertodo {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:20vh auto 0 auto;
   
}
.containertodo button {
    padding: 10px;
    border: none;
    background: #5cb85c;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.containertodo button:hover {
    background: #4cae4c;
}
.containertodo .input-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.containertodo input {
    padding: 10px;
    width: 70%; 
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

li .delete {
    color: #d9534f;
    cursor: pointer;
    margin-left: 5px;
}

li .edit{
    color: #4cae4c;
    cursor: pointer;
    margin-left: 5px;
}

li .cancelbtn{
    background-color: gray;
    color:rgb(250, 250, 250);
    cursor: pointer;
    margin-left: 5px;
}
